server:
  port: 8888

spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      # Exemple de définition de routes explicites si vous voulez des URLs plus courtes
      routes:
        - id: inventory-route
          uri: lb://inventory-service
          predicates:
            - Path=/inventory/**
        - id: order-route
          uri: lb://order-service
          predicates:
            - Path=/orders/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/